{% extends "base.html" %}
{% from "macros/wtfToGovUk.html" import input %}
{% from "macros/wtfToGovUk.html" import dateinput %}
{% from "macros/wtfToGovUk.html" import yes_no %}
{%- from "govuk_frontend_jinja/components/button/macro.html" import govukButton -%}
{%- from "govuk_frontend_jinja/components/select/macro.html" import govukSelect -%}
{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">Create a Round</h1>
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
                <form method="POST">
                    {{ form.hidden_tag()}}
                    {{ govukSelect({
                        "id": form.fund_id.id,
                        "name": form.fund_id.name,
                        "label": {
                          "text": form.fund_id.label
                        },
                        "items": all_funds})}}
                    {{input(form.title_en)}}
                    {{input(form.short_name)}}
                    {{dateinput(form.opens)}}
                    {{dateinput(form.deadline)}}
                    {{dateinput(form.assessment_start)}}
                    {{dateinput(form.reminder_date)}}
                    {{dateinput(form.assessment_deadline)}}
                    {{input(form.prospectus_link)}}
                    {{input(form.privacy_notice_link)}}

                    {{ govukButton({
                    "text": "Save"
                    }) }}
                </form>
            </fieldset>
        </div>
    </div>
</div>
{% endblock content %}
