{% extends "base.html" %}
{% from "macros/wtfToGovUk.html" import input %}
{% from "macros/wtfToGovUk.html" import dateinput %}
{% from "macros/wtfToGovUk.html" import multilineinput %}
{% from "macros/wtfToGovUk.html" import yes_no %}
{%- from "govuk_frontend_jinja/components/button/macro.html" import govukButton -%}
{%- from "govuk_frontend_jinja/components/select/macro.html" import govukSelect -%}
{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">{{ 'Update a Round' if round_id else 'Create a Round' }}</h1>
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
                <form method="POST">
                    {{ form.hidden_tag()}}
                    {% if not round_id %}
                        {{ govukSelect({
                            "id": form.fund_id.id,
                            "name": form.fund_id.name,
                            "label": {
                            "text": form.fund_id.label
                            },
                            "items": all_funds
                        })}}
                    {% endif %}
                    {{input(form.title_en)}}
                    {{input(form.short_name)}}
                    {{dateinput(form.opens)}}
                    {{dateinput(form.deadline)}}
                    {{dateinput(form.assessment_start)}}
                    {{dateinput(form.reminder_date)}}
                    {{dateinput(form.assessment_deadline)}}
                    {{input(form.prospectus_link)}}
                    {{input(form.privacy_notice_link)}}
                    {{ multilineinput(form.contact_us_banner_json) }}
                    {{ yes_no(form.reference_contact_page_over_email) }}
                    {{ input(form.contact_email) }}
                    {{ input(form.contact_phone) }}
                    {{ input(form.contact_textphone) }}
                    {{ input(form.support_times) }}
                    {{ input(form.support_days) }}
                    {{ multilineinput(form.instructions_json) }}
                    {{input(form.feedback_link)}}
                    {{ input(form.project_name_field_id) }}
                    {{ multilineinput(form.application_guidance_json) }}
                    {{ input(form.guidance_url) }}
                    {{ yes_no(form.application_fields_download_available) }}
                    {{ yes_no(form.display_logo_on_pdf_exports) }}
                    {{ yes_no(form.mark_as_complete_enabled) }}
                    {{ yes_no(form.is_expression_of_interest) }}
                    {{ multilineinput(form.feedback_survey_config) }}
                    {{ multilineinput(form.eligibility_config) }}
                    {{ multilineinput(form.eoi_decision_schema) }}
                    {{ govukButton({
                    "text": "Save"
                    }) }}
                </form>
            </fieldset>
        </div>
    </div>
</div>
{% endblock content %}
