{% extends "base.html" %}
{% set pageHeading %}View Full Assessment Config {% endset %}
{%- from "govuk_frontend_jinja/components/button/macro.html" import govukButton -%}
{%- from "govuk_frontend_jinja/components/accordion/macro.html" import govukAccordion -%}
{%- from "govuk_frontend_jinja/components/summary-list/macro.html" import govukSummaryList -%}
{%- from "govuk_frontend_jinja/components/select/macro.html" import govukSelect -%}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l"> {{ pageHeading }}</h1>
            <h2 class="govuk-heading-m">{{ fund.short_name }} - {{ round.short_name }}</h2>
        </div>
    </div>
    {% for criteria in round.criteria %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h3 class="govuk-heading-s">{{ criteria.index }}. {{ criteria.name }} (weighting: {{criteria.weighting}})</h3>
                {% for subcriteria in criteria.subcriteria %}
                    <h4 class="govuk-heading-s">Form {{ subcriteria.criteria_index }}. {{ subcriteria.name }}</h4>
                    {% for theme in subcriteria.themes %}
                        <div class="section_page"><span class="govuk-body">{{ theme.subcriteria_index }}. {{ theme.name }}</span>
                            <ul class="govuk-list--bullet">
                            {%for component in theme.components %}
                                <li class="govuk-body">{{component.theme_index}} - {{component.title}} ({{component.assessment_display_type}})</li>
                            {% endfor %}</ul>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    <style>div.section_page{padding-left: 15px;}</style>
{% endblock content %}
