{% extends "base.html" %}
{%- from "govuk_frontend_jinja/components/input/macro.html" import govukInput -%}
{%- from "govuk_frontend_jinja/components/button/macro.html" import govukButton -%}
{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">Create Application Section</h1>
            <form id="section_form" method="POST" action="{{ url_for('self_serve_bp.generate_json') }}">

                <select multiple hidden name="selected_pages" id="frm_selected_pages"></select>
                {{ govukInput({
                "label": {
                "text": "What is the name of this section?",
                "classes": "govuk-label--s",
                "isPageHeading": false
                },
                "id": "form-name",
                "name": "formName"
                }) }}
            </form>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <div class="govuk-form-group">
                <h3 class="govuk-heading-s">
                    Available Pages
                </h3>
                <div id="pages-hint" class="govuk-hint">
                    Drag the pages you want for your section from the list of available pages to the list of selected
                    pages.
                </div>
                <div id="available_pages">
                    {% for page in available_pages%}
                    <div class="tooltip govuk-task-list__item govuk-tag govuk-tag--blue" id="{{page.id}}">{{
                        page.display_name }}
                        <div class="tooltiptext">
                            <h4 class="govuk-heading-xs">{{page.hover_info.title}}</h4>
                            <ul>
                                {% for q in page.hover_info.questions %}
                                    <li>{{q}}</li>
                                {% endfor %}
                            </ul>

                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="govuk-grid-column-one-half">
            <div class="govuk-form-group">
                <h3 class="govuk-heading-s">
                    Selected Pages
                </h3>
                <div id="selected_pages-hint" class="govuk-hint">
                    Once you have selected the pages to include, reorder them here.
                </div>
                <div id="selected_pages">
                </div>
            </div>
        </div>
    </div>
    <div class="govuk-grid-row">
        {{ govukButton({
        "text": "Download Form JSON",
        "attributes": {"onclick":"downloadJson()"},
        "id": "download_json_btn"
        }) }}
        {{ govukButton({
        "text": "Preview Form",
        "attributes": {"onclick":"previewForm()"}
        }) }}

    </div>
</div>

<style>
    /* Tooltip container */
    .tooltip {
        position: relative;
        margin: 2px 0px 2px 0px;
        max-width: 100%;
    }

    /* Tooltip text */
    .tooltip .tooltiptext {
        width: 300px;
        visibility: hidden;
        background-color: black;
        color: #fff;
        padding: 5px;
        border-radius: 6px;

        /* Position the tooltip text - see examples below! */
        position: absolute;
        z-index: 1;
        left: 105%;

        font-size: smaller;
    }

    .tooltiptext ul, .tooltiptext h4 {
        margin: 1px;
    }

    /* Show the tooltip text when you mouse over the tooltip container */
    .tooltip:hover .tooltiptext {
        visibility: visible;
    }
</style>
{% endblock %}