{% extends "base.html" %}

{%- from "govuk_frontend_jinja/components/input/macro.html" import govukInput -%}
{%- from "govuk_frontend_jinja/components/button/macro.html" import govukButton -%}
{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">Create Application Section</h1>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
                <div class="govuk-form-group">
                    <h3 class="govuk-heading-s">
                        Available Forms
                    </h3>
                    <div id="forms-hint" class="govuk-hint">
                        Drag the forms you want for your section from the list of available forms to the list of selected
                        forms.
                    </div>
                    <div id="available_forms">
                        {% for form in available_forms%}
                        <div class="tooltip govuk-task-list__item govuk-tag govuk-tag--blue" id="{{form.id}}">{{
                            form.display_name }}
                            <div class="tooltiptext">
                                <h4 class="govuk-heading-xs">{{form.hover_info.title}}</h4>
                                <ul>
                                    {% for p in form.hover_info.pages %}
                                    <li>{{p}}</li>
                                    {% endfor %}
                                </ul>
        
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="govuk-grid-column-one-half">
                <div class="govuk-form-group">
                    <h3 class="govuk-heading-s">
                        Selected forms
                    </h3>
                    <div id="selected_forms-hint" class="govuk-hint">
                        Once you have selected the forms to include, reorder them here.
                    </div>
                    <div id="selected_forms">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    /* Tooltip container */
    .tooltip {
        position: relative;
        margin: 2px 0px 2px 0px;
        max-width: 100%;
    }

    /* Tooltip text */
    .tooltip .tooltiptext {
        width: 300px;
        visibility: hidden;
        background-color: black;
        color: #fff;
        padding: 5px;
        border-radius: 6px;

        /* Position the tooltip text - see examples below! */
        position: absolute;
        z-index: 1;
        left: 105%;

        font-size: smaller;
    }

    .tooltiptext ul,
    .tooltiptext h4 {
        margin: 1px;
    }

    /* Show the tooltip text when you mouse over the tooltip container */
    .tooltip:hover .tooltiptext {
        visibility: visible;
    }
</style>
{% endblock content %}