{% extends "base.html" %}
{% set pageHeading %}Create Application Form{% endset %}

{%- from "govuk_frontend_jinja/components/input/macro.html" import govukInput -%}
{%- from "govuk_frontend_jinja/components/textarea/macro.html" import govukTextarea -%}
{%- from "govuk_frontend_jinja/components/button/macro.html" import govukButton -%}
{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">{{ pageHeading }}</h1>
        <form id="form_form" method="POST">

            <select multiple hidden name="selected_pages" id="frm_selected_pages"></select>
            {{ form.hidden_tag() }}
            {{ govukInput({
            "label": {
            "text": form.builder_display_name.label ,
            "isPageHeading": false
            },
            "id": form.builder_display_name.id,
            "name": form.builder_display_name.name,
            "value": form.builder_display_name.data,
            "errorMessage":  {"text": form.errors.get('builder_display_name')[0]} if form.errors.get('builder_display_name') else None
            }) }}
            {{ govukInput({
            "label": {
            "text": form.form_title.label ,
            "isPageHeading": false
            },
            "id": form.form_title.id,
            "name": form.form_title.name,
            "value": form.form_title.data,
            "errorMessage":  {"text": form.errors.get('form_title')[0]} if form.errors.get('form_title') else None
            }) }}
            {{ govukTextarea({
            "label": {
            "text": form.start_page_guidance.label ,
            "isPageHeading": false
            },
            "id": form.start_page_guidance.id,
            "name": form.start_page_guidance.name,
            "value": form.start_page_guidance.data,
            "errorMessage":  {"text": form.errors.get('start_page_guidance')[0]} if form.errors.get('start_page_guidance') else None
            }) }}

        </form>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <div class="govuk-form-group">
            <h3 class="govuk-heading-s">
                Available Pages
            </h3>
            <div id="pages-hint" class="govuk-hint">
                Drag the pages you want for your form from the list of available pages to the list of selected
                pages.
            </div>
            <div id="available_pages">
                {% for page in available_pages%}
                <div class="tooltip govuk-task-list__item govuk-tag govuk-tag--blue" id="{{page.id}}">{{
                    page.display_name }}
                    <div class="tooltiptext">
                        <h4 class="govuk-heading-xs">{{page.hover_info.title}}</h4>
                        <ul>
                            {% for q in page.hover_info.questions %}
                            <li>{{q}}</li>
                            {% endfor %}
                        </ul>

                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="govuk-grid-column-one-half">
        <div class="govuk-form-group">
            <h3 class="govuk-heading-s">
                Selected Pages
            </h3>
            <div id="selected_pages-hint" class="govuk-hint">
                Once you have selected the pages to include, reorder them here.
            </div>
            <div id="selected_pages">
            </div>
        </div>
    </div>
</div>
<div class="govuk-grid-row">
    <p>
        {{ govukButton({
        "text": "Save",
        "attributes": {"onclick":"saveForm()"},
        }) }}
        {{ govukButton({
        "text": "Preview Form",
        "attributes": {"onclick":"previewForm()"},
        "classes": "govuk-button--secondary"
        }) }}
        {{ govukButton({
        "text": "View Questions",
        "attributes": {"onclick":"allQuestions()"},
        "classes": "govuk-button--secondary"
        }) }}
    </p>
    <p>

        <a class="govuk-link" onClick="downloadJson()">Download form json</a>
    </p>

</div>

<style>
    /* Tooltip container */
    .tooltip {
        position: relative;
        margin: 2px 0px 2px 0px;
        max-width: 100%;
    }

    /* Tooltip text */
    .tooltip .tooltiptext {
        width: 300px;
        visibility: hidden;
        background-color: black;
        color: #fff;
        padding: 5px;
        border-radius: 6px;

        /* Position the tooltip text - see examples below! */
        position: absolute;
        z-index: 1;
        left: 105%;

        font-size: smaller;
    }

    .tooltiptext ul,
    .tooltiptext h4 {
        margin: 1px;
    }

    /* Show the tooltip text when you mouse over the tooltip container */
    .tooltip:hover .tooltiptext {
        visibility: visible;
    }
</style>
{% endblock %}

{% block bodyEnd %}


<script>
    var selected_sortable;


    function updateSelectedPagesInForm() {
        selected = document.getElementById("selected_pages");
        selected_form_element = document.getElementById("frm_selected_pages");

        // remove existing selection
        while (selected_form_element.firstChild) {
            selected_form_element.removeChild(selected_form_element.lastChild);
        }

        // add new selection
        for (page of selected.children) {
            node = document.createElement("option");
            node.setAttribute("selected", "true")
            node.setAttribute("value", page.id)
            selected_form_element.appendChild(node)
        }

    }


    function loadSortable() {
        var available_pages = document.getElementById("available_pages");
        var selected_pages = document.getElementById("selected_pages");
        new Sortable(available_pages, {
            group: 'shared', // set both lists to same group
            animation: 150,
            sort: false
        });

        selected_sortable = new Sortable(selected_pages, {
            group: 'shared',
            animation: 150,
            onSort: function () { updateSelectedPagesInForm() }
        });
    };

    function downloadJson() {
        section_form = document.getElementById("form_form")
        section_form.setAttribute("action", "{{url_for('self_serve_bp.generate_json')}}")
        section_form.submit()
    }

    function previewForm() {
        section_form = document.getElementById("form_form")
        section_form.setAttribute("action", "{{url_for('build_fund_bp.preview_form', form_id=form.id)}}")
        section_form.submit()
    }
    function allQuestions() {
        section_form = document.getElementById("form_form")
        section_form.setAttribute("action", "{{url_for('self_serve_bp.view_form_questions')}}")
        section_form.submit()
    }
    function saveForm() {
        section_form = document.getElementById("form_form")
        section_form.setAttribute("action", "{{url_for('self_serve_bp.form')}}")
        section_form.submit()
    }

    document.addEventListener("DOMContentLoaded", loadSortable);
</script>
{% endblock bodyEnd %}
