{% extends "base.html" %}

{%- from "govuk_frontend_jinja/components/input/macro.html" import govukInput -%}
{%- from "govuk_frontend_jinja/components/textarea/macro.html" import govukTextarea -%}
{%- from "govuk_frontend_jinja/components/button/macro.html" import govukButton -%}
{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">Build Form Page</h1>
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
                <form method="POST" id="page_form">
                    <select multiple hidden name="selected_components" id="selected_components"></select>
                    {{ form.hidden_tag() }}
                    {{ govukInput({
                    "label": {
                    "text": form.id.label ,
                    "isPageHeading": false
                    },
                    "id": form.id.id,
                    "name": form.id.name ,
                    "value": form.id.data,
                    "errorMessage": {"text": form.errors.get('id')[0]} if form.errors.get('id') else None
                    }) }}
                    {{ govukInput({
                    "label": {
                    "text": form.builder_display_name.label ,
                    "isPageHeading": false
                    },
                    "id": form.builder_display_name.id,
                    "name": form.builder_display_name.name ,
                    "value": form.builder_display_name.data,
                    "errorMessage": {"text": form.errors.get('builder_display_name')[0]} if form.errors.get('builder_display_name') else None
                    }) }}
                    {{ govukInput({
                    "label": {
                    "text": form.form_display_name.label ,
                    "isPageHeading": false
                    },
                    "id": form.form_display_name.id,
                    "name": form.form_display_name.name ,
                    "value": form.form_display_name.data,
                    "errorMessage": {"text": form.errors.get('form_display_name')[0]} if form.errors.get('form_display_name') else None
                    }) }}
                </form>
            </fieldset>
        </div>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <div class="govuk-form-group">
            <h3 class="govuk-heading-s">
                Available Questions
            </h3>
            <div id="questions-hint" class="govuk-hint">
                Drag the questions you want for your Page from the list of available questions to the list of selected
                questions.
            </div>
            <div id="available_questions">
                {% for question in available_questions%}
                <div class="tooltip govuk-task-list__item govuk-tag govuk-tag--blue" id="{{question.id}}">{{
                    question.display_name }}
                    <div class="tooltiptext">
                        <h4 class="govuk-heading-xs">{{question.hover_info.title}}</h4>
                        <ul>
                            {% for q in question.hover_info.questions %}
                            <li>{{q}}</li>
                            {% endfor %}
                        </ul>

                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="govuk-grid-column-one-half">
        <div class="govuk-form-group">
            <h3 class="govuk-heading-s">
                Selected questions
            </h3>
            <div id="selected_questions-hint" class="govuk-hint">
                Once you have selected the questions to include, reorder them here.
            </div>
            <div id="selected_questions">
            </div>
        </div>
    </div>
</div>
<div class="govuk-grid-row">
    <p>
        {{ govukButton({
        "text": "Save",
        "attributes": {"onclick":"savePage()"},
        }) }}
        {{ govukButton({
        "text": "Preview Form",
        "attributes": {"onclick":"previewForm()"},
        "classes": "govuk-button--secondary"
        }) }}
        {{ govukButton({
        "text": "View Questions",
        "attributes": {"onclick":"allQuestions()"},
        "classes": "govuk-button--secondary"
        }) }}
    </p>
    <p>

        <a class="govuk-link" onClick="downloadJson()">Download form json</a>
    </p>

</div>

<style>
    /* Tooltip container */
    .tooltip {
        position: relative;
        margin: 2px 0px 2px 0px;
        max-width: 100%;
    }

    /* Tooltip text */
    .tooltip .tooltiptext {
        width: 300px;
        visibility: hidden;
        background-color: black;
        color: #fff;
        padding: 5px;
        border-radius: 6px;

        /* Position the tooltip text - see examples below! */
        position: absolute;
        z-index: 1;
        left: 105%;

        font-size: smaller;
    }

    .tooltiptext ul,
    .tooltiptext h4 {
        margin: 1px;
    }

    /* Show the tooltip text when you mouse over the tooltip container */
    .tooltip:hover .tooltiptext {
        visibility: visible;
    }
</style>
{% endblock %}

{% block bodyEnd %}


<script>
    var selected_sortable;


    function updateSelectedQuestionsInForm() {
        selected = document.getElementById("selected_questions");
        selected_form_element = document.getElementById("selected_components");

        // remove existing selection
        while (selected_form_element.firstChild) {
            selected_form_element.removeChild(selected_form_element.lastChild);
        }

        // add new selection
        for (question of selected.children) {
            node = document.createElement("option");
            node.setAttribute("selected", "true")
            node.setAttribute("value", question.id)
            selected_form_element.appendChild(node)
        }

    }


    function loadSortable() {
        var available_questions = document.getElementById("available_questions");
        var selected_questions = document.getElementById("selected_questions");
        new Sortable(available_questions, {
            group: 'shared', // set both lists to same group
            animation: 150,
            sort: false
        });

        selected_sortable = new Sortable(selected_questions, {
            group: 'shared',
            animation: 150,
            onSort: function () { updateSelectedQuestionsInForm() }
        });
    };

    function downloadJson() {
        section_form = document.getElementById("page_form")
        section_form.setAttribute("action", "{{url_for('self_serve_bp.generate_json')}}")
        section_form.submit()
    }

    function previewForm() {
        section_form = document.getElementById("page_form")
        section_form.setAttribute("action", "{{url_for('self_serve_bp.preview_form')}}")
        section_form.submit()
    }
    function allQuestions() {
        section_form = document.getElementById("page_form")
        section_form.setAttribute("action", "{{url_for('self_serve_bp.view_form_questions')}}")
        section_form.submit()
    }
    function savePage() {
        section_form = document.getElementById("page_form")
        section_form.setAttribute("action", "{{url_for('self_serve_bp.create_page')}}")
        section_form.submit()
    }

    document.addEventListener("DOMContentLoaded", loadSortable);
</script>
{% endblock bodyEnd %}
