{% extends "base.html" %}
{%- from "govuk_frontend_jinja/components/button/macro.html" import govukButton -%}
{%- from "govuk_frontend_jinja/components/input/macro.html" import govukInput -%}
{% from "govuk_frontend_jinja/components/radios/macro.html" import govukRadios %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
                <form method="POST">
                    {{ form.hidden_tag() }}
                    {{ govukInput({
                    "label": {
                    "text": form.id.label ,
                    "isPageHeading": false
                    },
                    "id":  form.id.id,
                    "name":  form.id.name ,
                    "value": form.id.data,
                    "errorMessage":  {"text": form.errors.get('id')[0]} if form.errors.get('id') else None
                    }) }}

                    {{ govukInput({
                    "label": {
                    "text": form.title.label ,
                    "isPageHeading": false
                    },
                    "id": form.title.id,
                    "name": form.title.name,
                    "value": form.title.data,
                    "errorMessage":  {"text": form.errors.get('title')[0]} if form.errors.get('title') else None

                    }) }}
                    {{ govukInput({
                    "label": {
                    "text": form.hint.label ,
                    "isPageHeading": false
                    },
                    "id": form.hint.id,
                    "name": form.hint.name,
                    "value": form.hint.data,
                    "errorMessage":  {"text": form.errors.get('hint')[0]} if form.errors.get('hint') else None
                    }) }}

                    {{ govukRadios({
                    "name": form.question_type.name,
                    "fieldset": {
                    "legend": {
                    "text": form.question_type.label,
                    "isPageHeading": false,
                    "value": form.question_type.data,
                    "classes": "govuk-fieldset__legend--l"
                    }
                    },
                    "items": form.question_type.govuk_choices_format
                    })}}
                    {{ govukButton({
                    "text": "Save"
                    }) }}
                </form>
            </fieldset>
        </div>
    </div>
</div>
{% endblock content %}
