{%- from "govuk_frontend_jinja/components/input/macro.html" import govukInput -%}
{%- from "govuk_frontend_jinja/components/checkboxes/macro.html" import govukCheckboxes -%}
{% from "govuk_frontend_jinja/components/radios/macro.html" import govukRadios %}

{% macro input(form_field) %}
{{ govukInput({
"label": {
"text": form_field.label ,
"isPageHeading": false
},
"id": form_field.id,
"name": form_field.name ,
"value": form_field.data,
"errorMessage": {"text": form_field.errors[0]} if (form_field.errors | length > 0) else None,
"hint":{"text":form_field.description}
}) }}
{%endmacro%}

{% macro dateinput(form_field) %}
{{ govukInput({
"label": {
"text": form_field.label ,
"isPageHeading": false
},
"id": form_field.id,
"name": form_field.name ,
"value": form_field.data.strftime('%d-%m-%Y %H:%M') if form_field.data else '',
"errorMessage": {"text": form_field.errors[0]} if (form_field.errors | length > 0) else None,
"hint":{"text":form_field.description}
}) }}
{%endmacro%}

{% macro yes_no(form_field) %}
{{ govukRadios({
"name": form_field.name,
"classes": "govuk-radios--inline",
"fieldset": {
"legend": {
"text": form_field.label,
"isPageHeading": false,
}
},
"items": [{"value":1, "text": "Yes"}, {"value":"", "text":"No"}]
})}}
{%endmacro%}
